PORT=5000
NODE_ENV="development"
FRONTEND_URL="http://localhost:3000"

DATABASE_URL="postgresql://user:password@localhost:5432/courier_db?schema=public"
REDIS_URL="redis://localhost:6379"

JWT_ACCESS_SECRET="your_access_secret_key"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="your_refresh_secret_key"
JWT_REFRESH_EXPIRES_IN="7d"
BCRYPT_SALT_ROUNDS=12

GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"

CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"

EMAIL_SENDER="noreply@courier.com"
SMTP_PASSWORD="your_smtp_password"

BKASH_BASE_URL="https://tokenized.sandbox.bka.sh/v1.2.0-beta"
BKASH_USERNAME="your_bkash_username"
BKASH_PASSWORD="your_bkash_password"
BKASH_APP_KEY="your_bkash_app_key"
BKASH_APP_SECRET="your_bkash_app_secret"
BKASH_CALLBACK_URL="http://localhost:5000/api/v1/payments/bkash/callback"